.header-top-area {
    background: #218ae6;
    padding: 10px 0;
    color: #fff;
}

.header-top-area a {
    text-decoration: none;
    color: #fff;
    margin: 0px 15px;

}

.header-top-area i {
    padding: 10px;
}




.header-area ul li a {
    color: #333;
    display: block;
    padding: 25px 0 25px 50px;
    text-transform: uppercase;
}

.header-area ul li a:hover {
    color: #218ae6;
}

.slide {
    background: #218ae6;
    color: #fff;
    font-size: 17px;
}

.homepage-slides h2 {
    font-size: 50px;
    font-weight: 100;
}

.btn {
    background: #f9cf25;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    padding: 13px 23px;
    text-transform: uppercase;
    border-radius: 5px;
}


.slide .container {
    padding: 150px 0;
}

.owl-theme .owl-dots button {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #fff !important;
    display: block;
    outline: none;
}

.owl-theme .owl-dots .owl-dot span:active {
    background: #f9cf25 !important;
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: #f9cf25 !important;
}

.owl-theme .owl-dots .owl-dot span:focus {
    background: #f9cf25 !important;
}